@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300,400');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 100%; //1rem = 12, 12/16
  }

  @include respond(phone) {
    font-size: 40%;
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-black;
}

#root {
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80vh;
  max-width: 100%;
}

.emoji {
  width: 3rem !important;
  height: 3rem !important;
}
