.u-center {
  display: flex;
  justify-content: center;
}

.u-heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  color: $color-primary;
}
