$color-primary: #0747a6;
$color-primary-light: #0065ff;
$color-text-of-blue: rgb(222, 235, 255);
$text-color-black: rgb(66, 82, 110);
$color-black: #0c0c0d;
$text-color-blue: #135ecf;
$color-grey: #f4f5f7;
$color-grey-light: #fafbfc;
$color-grey-dark: #c3c9d0;
$box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
$hover-on-blue: rgba(9, 30, 66, 0.42);
$color-green-light: #03a373;
$color-green: #5fcf80;
$facebook: #3a5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$googleplus: #dd4b39;
$danger: hsl(348, 100%, 61%);
$success: hsl(141, 71%, 48%);
$warning: hsl(48, 100%, 67%);
$info: hsl(204, 86%, 53%);
