.not-found {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 10rem;
    color: $color-text-of-blue;
    font-weight: 100;
    text-shadow: $box-shadow;
  }

  &__description {
    color: $color-text-of-blue;
    margin-bottom: 3rem;
  }

  &__button {
    padding: 2rem 0;
    text-align: center;

    a:link,
    a:visited {
      color: $color-text-of-blue;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}
