.projects-page {
  background-color: $color-grey;
  padding: 8rem 4rem;
  display: flex;
  @include respond(tab-port) {
    flex-direction: column;
  }
  flex-wrap: wrap;
  min-height: 100vh;

  .projects {
    width: 90%;
  }

  .sidebar {
    flex-basis: 32rem;
    flex-shrink: 0;
    @include respond(tab-port) {
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .radio-buttons,
        .checkboxes {
          width: 48%;
          margin: 0;
          height: 100%;
        }
      }
    }
  }

  .projects-container {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 50rem;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    @include respond(phone) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
