.profile {
  padding-top: 55px;
  @include respond(big-desktop) {
    padding-top: 80px;
  }
  display: flex;
  overflow: hidden;
  &__paragraph {
    padding: 1rem 0;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.7rem;
    @include respond(tab-port) {
      text-align: center;
    }
  }
}
