.about-me {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  @include respond(tab-port) {
    width: 100%;
  }
  &__heading {
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-text-of-blue;
  }
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    lighten($color-primary, 0.8)
  );
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 1rem;
    @include respond(tab-port) {
      flex-direction: column;
      padding-top: 4rem;
    }
    &--image {
      height: 25rem;
      max-height: 250px;
      width: 40%;
      border-radius: 100%;
      padding: 0;
      @include respond(tab-port) {
        width: 30%;
      }
      @include respond(phone) {
        width: 45%;
      }
    }
    &--name {
      font-size: 2rem;
      color: $color-text-of-blue;
      padding-top: 2rem;
      text-align: center;
    }
    &--button:link,
    &--button:visited {
      margin-top: 2rem;
      display: block;
      border-radius: 0.3rem;
      padding: 1rem 3rem;
      border-radius: 100px;
      font-size: 1.5rem;
      background-color: $color-grey-light;
      text-align: center;
      text-transform: uppercase;
      color: $color-primary-light;
      font-weight: 300;
      box-shadow: 2px 2px 5px rgab($color-black, 0.3);
      text-decoration: none;
      letter-spacing: 1px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover,
      &:focus {
        color: $color-black;
      }
    }
  }
  &__content {
    margin-top: 2rem;
    padding: 0 2rem 4rem 2rem;
    margin-bottom: 3rem;
  }
}

// scroll bar
#about-me::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#about-me::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#about-me::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

#resume::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

#resume::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#resume::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
