.admin-form {
  width: 60%;
  min-height: 100vh;
  display: flex;

  &__submit {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    button {
      padding: 0.5rem;
      border: 0.2rem solid $color-grey-dark;
      font-weight: 100;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 0.5rem;
    }

    &--publish {
      background-color: $color-green-light;
    }

    &--draft {
      background-color: $color-primary-light;
      color: $color-text-of-blue;
    }
  }

  input[name='featured']:checked ~ &__checkFeatured {
    background-color: gold;
  }

  input[name='featured'] {
    display: none;
  }

  &__sidebar {
    list-style: none;
    padding: 0 1rem;
    background-color: darken($color-grey, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.3rem solid $color-grey-dark;
    &--item {
      margin-top: 3rem;
      cursor: pointer;
      background-color: $color-grey-dark;
      padding: 0 0.5rem;
      border: 0.05rem solid darken($color-grey-dark, 10%);
      transition: 0.2s;
      font-size: 1.4rem;
      font-weight: 700;
      &:hover {
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__content {
    min-width: 100%;
    max-width: 100%;
    min-height: 50vh;
    padding: 1rem;
    border-radius: 0.3rem;
    outline: none;
    margin-bottom: 2rem;
    background-color: $color-grey-light;
    border: 0.15rem solid $color-grey-dark;

    img {
      max-width: 30%;
    }
  }

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

    input[type='text'],
    select,
    label {
      padding: 1rem;
      border-radius: 0.3rem;
      outline: none;
      margin-bottom: 2rem;
      background-color: $color-grey-light;
      border: 0.15rem solid $color-grey-dark;
    }

    input[type='file'] {
      display: none;
    }

    select {
      color: $text-color-black;
      font-weight: bold;
    }

    label {
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
      background: $color-grey;
      span {
        border: 0.1rem solid darken($color-grey-dark, 10%);
        padding: 0.5rem;
        background-color: $color-grey-light;
      }
    }
  }
}
