.checkboxes {
  margin-bottom: 4rem;
  padding: 2rem;

  &__group {
    margin-bottom: 2rem;
  }

  &__text-span {
    font-size: 1.3rem;
    align-self: stretch;
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__label &__button {
    background-color: $color-green-light;
  }

  &__input:checked ~ &__label &__button &__check-icon {
    opacity: 1;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__button {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid $color-grey-dark;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    overflow: hidden;
    transition: all 0.2s;
  }
  &__check-icon {
    color: whitesmoke;
    opacity: 0;
    transition: all 0.2s;
  }
}
