.contact-me {
  padding: 4rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  background-color: $color-primary-light;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(#000, 0.3);

  @include respond(tab-port) {
    padding: 1rem;
  }

  &__image {
    max-width: 100%;
  }

  &__respond {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: $color-text-of-blue;
  }

  &__heading {
    color: $color-text-of-blue;
    letter-spacing: 1px;
  }

  &__form {
    position: relative;
  }

  &__container {
    background-color: $color-primary-light;
    width: 100%;
    padding: 4rem;
    @include respond(tab-port) {
      padding: 1rem;
    }
  }

  &__input,
  &__textarea {
    padding: 1.5rem 2rem;
    display: block;
    width: 100%;
    background-color: rgba(#000, 0.5);
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    border-radius: 3px;
    color: $color-text-of-blue;
    border-bottom: 3px solid transparent;
    box-shadow: 0 0.5rem 3rem rgba(#000, 0.3);
    outline: none;
  }

  &__input:focus {
    outline: none;
    border-bottom: 3px solid greenyellow;
  }

  &__input:focus:invalid {
    border-bottom: 3px solid indianred;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label,
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__group {
    margin: 2rem 0;
    width: 75%;
    color: $color-text-of-blue;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    outline: none;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-color: #fff;
    color: $text-color-blue;
    cursor: pointer;
    box-shadow: 0 0.5rem 3rem rgba(#000, 0.3);
    transition: all 0.2s;

    &:hover {
      transform: scale(0.95);
      bottom: 2px;
      box-shadow: 0 0.5rem 2rem rgba(#000, 0.3);
    }

    @include respond(tab-port) {
      position: relative;
      margin-top: 2rem;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      &:hover {
        box-shadow: 0 0.5rem 2rem rgba(#000, 0.3);
        transform: translateX(-50%);
        bottom: 2px;
      }
    }
  }
}
