.admin-dashboard {
  background-color: $color-grey;
  min-height: 100vh;
  padding: 2rem;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &--logout,
    &--new-post {
      color: $color-grey-light;
      padding: 1rem 3rem;
      margin: 0;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 10rem;
      font-size: 1.2rem;
      transition: 0.3s all ease-in-out;
    }
    &--logout {
      background-color: $danger;
    }
    &--new-post {
      background-color: $success !important;
    }
    &--logout:hover,
    &--logout:focus,
    &--new-post:hover,
    &--new-post:focus {
      transform: scale(1.2);
    }
  }

  &__nav {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    &--link--active {
      background-color: rgba($info, 0.3);
      border-bottom: $info 0.5rem solid !important;
    }

    &--link:link,
    &--link:visited {
      margin-right: 2rem;
      padding: 1rem 2rem;
      color: $color-black;
      font-size: 1.3rem;
      border-bottom: transparent 0.5rem solid;
      border-top: transparent 0.5rem solid;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.2s all ease-in;

      &:hover {
        background-color: rgba($info, 0.3);
        border-bottom: $info 0.5rem solid;
      }
    }
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
  }
}
