.home-header {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $color-text-of-blue;
  &__heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    top: 30%;
    opacity: 0;
    animation: animateHeader 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    @include respond(phone) {
      font-size: 5rem;
    }
  }
  &__heading-secondary {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 30%;
    opacity: 0;
    animation: animateHeader 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}

@keyframes animateHeader {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
