.large-project {
  display: flex;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
  min-height: 30rem;
  cursor: pointer;
  min-height: 25rem;
  @include respond(phone) {
    flex-direction: column-reverse;
  }

  &__content {
    width: 60%;
    background-color: white;
    padding: 3rem;
    @include respond(phone) {
      width: 100%;
    }
  }

  &__heading {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    cursor: text;
  }

  &__description {
    padding: 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
    max-width: 75ch;
    font-size: 1.2rem;
    line-height: 1.7;
    cursor: text;
  }

  &__read-more {
    border: 0.2rem solid $color-primary-light;
    border-radius: 0.5rem;
    color: $color-primary-light;
    display: inline-block;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
    position: relative;
    transition: all 0.2s ease-in-out;
    @include respond(phone) {
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      background-color: $color-primary-light;
      box-shadow: 0 0.25rem 0.5rem rgba(#000, 0.2);
      color: $color-text-of-blue;
      top: 0.2rem;
    }

    a:link,
    a:visited {
      padding: 1rem;
      color: inherit;
      text-transform: uppercase;
      font-size: 1.2rem;
      text-decoration: none;
      display: block;
      height: 100%;
    }
  }

  &__img {
    width: 40%;
    height: auto;
    border-left: 0.1rem solid $color-grey-dark;
    @include respond(phone) {
      width: 100%;
      height:30rem;
      border-left: none;
      border-bottom: 0.1rem solid $color-grey-dark;
    }

    &--preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
  }
}
