.latest-projects {
  margin: 4rem 0;
  padding: 2rem;

  &__container {
    display: flex;
    margin-top: 4rem;
    padding: 3rem 2rem;
    justify-content: space-between;
    overflow-x: scroll;
  }

  &__button {
    margin-top: 6rem;
    text-align: center;
    padding: 1rem 3rem;
    background-color: $color-primary-light;
    display: inline-block;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.3);
      background-color: $color-primary;
    }

    a:link,
    a:visited {
      color: $color-text-of-blue;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
}
