.nav {
  font-size: 1.8rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding: 2.5rem 2.5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);

  .active {
    background-color: $hover-on-blue;
    box-shadow: 0 0.5rem 4rem rgba($color-grey-dark, 0.2);
  }

  &__logo {
    margin-right: auto;
    cursor: pointer;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    border-radius: 50%;
    &:hover,
    &:active {
      background-color: rgba($color-grey-dark, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  &__item {
    cursor: pointer;
    margin-right: 7rem;
    padding: 0;
    border-radius: 3px;
    transition: all 0.2s;
    &:hover,
    &:active,
    &--active {
      background-color: rgba($color-grey-dark, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  // the a elements of the nav
  &__logo a:link,
  &__logo a:visited {
    color: $color-text-of-blue;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
  }

  .nav__item a:link,
  .nav__item a:visited {
    color: $color-text-of-blue;
    text-decoration: none;
    padding: 0.5rem 2rem;
    height: 100%;
    display: block;
  }

  &__link:link,
  &__link:visited {
    color: $color-text-of-blue;
    text-decoration: none;
    font-size: 2.5rem;
  }
}

.colored {
  padding: 1rem 2.5% !important;
  background-color: $color-primary;
  z-index: 1000;
}

// BLUE NAV

// .nav-blue {
//   font-size: 1.8rem;
//   font-weight: 100;
//   display: flex;
//   align-items: center;
//   padding: 1rem 2.5%;
//   width: 100%;
//   background-color: $color-primary;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 5000;
//   box-shadow: 0 0.5rem 0.8rem rgba($text-color-black, 0.2);

//   .active {
//     background-color: $hover-on-blue;
//     box-shadow: 0 0.5rem 4rem rgba($color-grey-dark, 0.2);
//   }

//   .nav__logo {
//     margin-right: auto;
//     cursor: pointer;
//   }

//   .nav__icon {
//     width: 4rem;
//     height: 4rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-right: 3rem;
//     border-radius: 50%;
//     &:hover,
//     &:active {
//       background-color: $hover-on-blue;
//       box-shadow: 0 0.5rem 4rem rgba($color-grey-dark, 0.2);
//       cursor: pointer;
//     }
//   }

//   .nav__item {
//     cursor: pointer;
//     margin-right: 7rem;
//     border-radius: 0.3rem;
//     transition: all 0.2s;
//     padding: 0;

//     &:hover,
//     &:active a:link {
//       background-color: $hover-on-blue;
//       box-shadow: 0 0.5rem 4rem rgba($color-grey-dark, 0.2);
//     }

//     &--active {
//       display: block;
//       height: 100%;
//       padding: 0.5rem 2rem;
//       border-radius: 0.3rem;
//       background-color: $hover-on-blue;
//       box-shadow: 0 0.5rem 4rem rgba($color-grey-dark, 0.2);
//     }
//   }

//   // the a elements of the nav
//   .nav__logo a:link,
//   .nav__logo a:visited {
//     color: $color-text-of-blue;
//     text-decoration: none;
//     font-weight: 100;
//     text-transform: uppercase;
//   }

//   .nav__item a:link,
//   .nav__item a:visited {
//     color: $color-text-of-blue;
//     text-decoration: none;
//     padding: 0.5rem 2rem;
//     height: 100%;
//     display: block;
//   }

//   .nav__link:link,
//   .nav__link:visited {
//     color: $color-text-of-blue;
//     text-decoration: none;
//     font-size: 2.5rem;
//   }
// }
