.post-right-panel {
  width: 20%;
  position: sticky;
  @include respond(tab-port) {
    position: relative;
    top: 2rem;
    width: 100%;
    order: 3;
    margin-top: 3rem;
    height: auto;
  }
  top: 0;
  height: 70rem;
  text-align: center;
  text-transform: uppercase;
  &__header {
    padding: 1rem;
  }
  &__posts {
    background-color: $color-grey-light;
    border: 0.1rem solid $color-grey-dark;
    border-radius: 0.3rem;
    padding: 1rem;
  }

  &__no-similar {
    &--title {
      text-transform: none;
    }
    &--image {
      width: 100%;
    }
  }
}

.similar-post:visited,
.similar-post:link {
  text-decoration: none;
  color: $color-black;
  display: flex;
  // align-items: center;
  height: 10rem;
  border: 0.1rem solid $color-black;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
  &:hover {
    color: $text-color-black;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.similar-post {
  &__background {
    flex: 0 0 35%;
    height: 100%;
    align-self: flex-start;
    background: center center;
    background-size: cover;
    margin-right: 2%;
  }
  &__title {
    text-align: center;
    font-size: 1.4rem;
  }
}
