.post {
  background-color: #eee;
  overflow: hidden;

  &__desc {
    font-size: 2rem;
    color: $color-black;
    display: flex;
    justify-content: center;
    margin: 5rem;
    @include respond(tab-port) {
      margin: 1rem;
    }
    p {
      line-height: 1.7;
      font-weight: 700;
      max-width: 70rem;
      min-width: 50rem;
      padding: 2rem;
      text-align: center;
      @include respond(tab-port) {
        max-width: 75%;
        min-width: 60%;
      }
    }
  }

  &__header {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
    background-size: cover;
    background-position: center;

    &--title {
      font-size: 4rem;
      font-weight: 100;
      line-height: 1.7rem;
      color: $color-grey;
      text-transform: uppercase;
      text-shadow: $color-black 0.1rem 0.1rem;
    }

    &--buttons {
      // TODO remove the width
      width: 70rem;
      @include respond(tab-port) {
        width: 85%;
      }
      display: flex;
      margin-top: 10rem;
      justify-content: space-between;
      &--github:visited,
      &--github:link,
      &--preview:visited,
      &--preview:link {
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        border: 0.1rem solid $color-black;
        border-radius: 5rem;
        padding: 1rem 2rem;
        transition: all 0.2s ease-in-out;
        svg {
          margin-right: 1rem;
        }
      }

      &--preview {
        background-color: $color-green;
        color: $text-color-black;
        &:hover {
          background-color: darken($color-green, 10%);
        }
      }

      &--github {
        background-color: $text-color-black;
        color: $color-grey-dark;
        &:hover {
          background-color: darken($text-color-black, 10%);
        }
      }
    }
  }

  &__share {
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid $color-grey-dark;
    height: 8rem;
    padding: 1rem;
    background-color: $color-grey-light;
    border-radius: 0.3rem;
    margin-top: 5rem;
    &--icon {
      width: 23%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      background-color: $color-grey-dark;
      color: $color-grey-light;
      transition: 0.2s all ease;
      cursor: pointer;
    }
    &--facebook:hover {
      background-color: $facebook;
    }
    &--twitter:hover {
      background-color: $twitter;
    }
    &--linkedin:hover {
      background-color: $linkedin;
    }
    &--google:hover {
      background-color: $googleplus;
    }
  }

  &__content {
    background-color: $color-grey-light;
    border-radius: 0.3rem;
    @include respond(tab-port) {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }

    .markdown {
      padding: 10rem 0;
    }

    ol,
    ul {
      padding: 0 2rem;
    }

    &--conatiner {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    max-width: 70rem;
    min-width: 50rem;
    padding: 0 2rem;
    width: 100%;
    margin: 0 2rem;
    font-size: 1.6rem;

    h1 {
      font-size: 2.3rem;
      margin: 2rem 0;
    }

    h2 {
      font-size: 2rem;
      margin: 2rem 0;
    }

    p {
      letter-spacing: 0.1rem;
      font-size: 1.8rem;
      line-height: 1.7;
      max-width: 75ch;
      padding: 2rem 0;
    }

    a:visited,
    a:link {
      text-decoration: none;
      color: $color-primary-light;
    }

    img {
      max-width: 100%;
      box-shadow: 0 0.3rem 0.6rem rgba($color-grey-dark, 0.3);
      margin: 2rem 0;
    }

    .emoji {
      width: 3rem;
      height: 3rem;
      box-shadow: none;
      margin: 0;
    }

    pre {
      border-radius: 0.3rem;
      background-color: azure;
      padding: 0.3rem;

      code {
        background-color: transparent;
        color: $text-color-black;
      }
    }

    code {
      color: rgb(238, 93, 9);
      background-color: $color-grey-dark;
      border-radius: 0.3rem;
      padding: 0.5rem;
    }

    table {
      border: solid 0.1rem $text-color-black;
      padding: 0.5rem;
      border-radius: 0.3rem;
      overflow: hidden;
      tr {
        border-bottom-color: $text-color-black;
        background: $color-grey-dark;
      }
      td {
        padding: 0 0.5rem;
      }
    }

    blockquote {
      padding: 0 0.5rem;
      margin: 1rem 0;
      border-left: 0.5rem solid $color-grey-dark;
      padding-left: 0.3rem;
      blockquote {
        position: relative;
        left: 2rem;
      }
      p {
        background-color: lighten($color-primary-light, 40%);
        padding: 0 0.5rem;
      }
    }

    abbr {
      cursor: help;
    }
  }
}

.post-box {
  display: flex;
  justify-content: center;
  @include respond(tab-port) {
    flex-direction: column;
    margin: 0 4rem;
  }
  .post-left-panel {
    width: 20%;
    @include respond(tab-port) {
      position: relative;
      order: 2;
      top: 2rem;
      width: 100%;
      margin: 0;
      height: auto;
    }
    position: sticky;
    top: 0;
    height: auto;
    &__heading {
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 1rem;
    }
    &__tags {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      background-color: $color-grey-light;
      border-radius: 0.3rem;
      min-height: 30rem;
      .tags__tag {
        margin-bottom: 1rem;
        height: 4rem;
      }
      border: 0.1rem solid $color-grey-dark;
    }
    &__date {
      text-align: center;
      margin-top: 3rem;
      font-size: 1.6rem;
      text-decoration: $color-primary-light;
    }
  }
}
