.post-card {
  border: 0.1rem solid $color-grey-dark;
  border-radius: 0.3rem;
  width: 25rem;
  margin: 2rem;
  position: relative;
  &__image {
    height: 20rem;
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
  }

  &__title {
    text-align: center;
    padding: 0.5rem 0;
    span {
      position: relative;
      left: 10%;
      cursor: pointer;
      padding: 0.3rem;
      &:hover {
        background-color: rgba($color-grey-dark, 0.5);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 0.1rem solid $color-grey-dark;
    &--edit,
    &--delete {
      padding: 1rem 3rem;
      margin: 0;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 10rem;
      font-size: 1.2rem;
      transition: 0.3s all ease-in-out;
      color: $color-grey-light;
    }
    &--edit {
      background-color: $info;
    }
    &--delete {
      background-color: $danger;
    }
  }
}

.ReactModal__Content {
  display: flex;
  justify-content: center;
  max-width: 50rem;
  height: auto;
  font-size: 2rem;
  margin: 0 auto;
  align-items: center;
  &--paragraph {
    padding: 2rem;
  }
  &--buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    button {
      padding: 1rem 3rem;
      margin: 0;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 10rem;
      font-size: 1.2rem;
      transition: 0.3s all ease-in-out;
      color: $color-grey-light;
    }
  }
  &--confirm {
    background-color: $danger;
  }
  &--cancel {
    background-color: $info;
  }
}
