.preview-post {
  width: 40%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  & * {
    margin: 2rem 0;
  }

  img {
    width: 90%;
  }
}

.upload__view {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding: 2rem 0;
    width: 100%;
  }
  &--complete {
    background-color: $color-green-light;
    color: $color-grey-dark;
  }
  &--loading {
    background-color: rgb(241, 238, 53);
  }
  &--error {
    background-color: rgb(241, 238, 53);
    color: $color-grey-dark;
  }
}
