.mini-project {
  min-height: 50rem;
  min-width: 300px;
  height: 100%;

  @include respond(big-desktop) {
    min-width: 500px;
  }

  @include respond(phone) {
    max-width: 100%;
    min-width: 100%;
  }
  margin: 0 2rem;
  &:first-child {
    margin: 0 0 2rem 0;
  }
  background-color: $color-grey-light;
  border-radius: 0.3rem;
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0 5px #d7d7db;
    text-decoration: none;
  }

  &:hover &__heading {
    color: $text-color-blue;
  }

  &:hover &__description {
    color: $text-color-black;
  }

  &__img {
    width: 100%;
    height: 25rem;
    position: relative;

    &--preview {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }

    &::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%;
    }
  }

  &__heading {
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
    color: $color-black;
    text-align: center;
  }

  &__description {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    color: $color-grey-dark;
  }

  &__share {
    padding: 0.5rem 2rem;
    background-color: $color-grey-light;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 2rem rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    opacity: 0;
    right: 1rem;
    top: -3.5rem;
    display: flex;
    transition: all 0.2s;
    color: white;

    &--icon {
      font-size: 1.3rem;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: dodgerblue;
      border-radius: 50%;
      &:nth-child(2n) {
        background-color: royalblue;
      }
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  //TODO: try to make the hover affect th after element

  &:hover > &__share {
    top: 2rem;
    opacity: 1;
  }
}
