.radio-buttons {
  border-bottom: 0.1rem solid $color-grey-dark;
  margin-bottom: 4rem;
  padding: 2rem;

  @include respond(tab-port) {
    border-bottom: none;
    margin-bottom: 0;
    border-right: 0.1rem solid $color-grey-dark;
  }

  &__group {
    margin-bottom: 2rem;
  }

  &__text-span {
    font-size: 1.3rem;
    align-self: stretch;
  }

  &__input {
    display: none;
  }

  &__input:checked ~ &__label &__button::after {
    opacity: 1;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__button {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid $color-primary-light;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $color-primary-light;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
