.responsive-nav {
  width: 100%;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-height: 55px;

  &__logo:link,
  &__logo:visited,
  &__item:link,
  &__item:visited {
    color: $color-text-of-blue;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    text-align: center;
  }

  &__bars {
    color: $color-text-of-blue;
    height: 55px;
    font-weight: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    right: 0;
    cursor: pointer;
  }

  &__logo--container {
    box-shadow: 0 0 2rem rgba($color-black, 0.3);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-height: 55px;
  }

  &__item {
    width: 100%;
    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-text-of-blue;
      margin-bottom: 3rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &--hidden {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
}
