.resume {
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 0 25px 100px 25px;
  @include respond(tab-port) {
    display: none;
  }
  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }
  &__heading {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: $text-color-blue;
    padding: 0.5rem 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    &--avatar {
      height: 25rem;
      width: 25rem;
      border-radius: 10%;
    }
    &--text {
      &--name {
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1rem 0;
        color: $text-color-blue;
      }
      &--bold {
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }
}
