.section-info {
  margin-bottom: 5rem;
  &__description {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    width: 75ch;
    margin-bottom: 4rem;
  }
}
