.skill-set {
  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    color: $color-primary;
  }

  &:hover img {
    filter: blur(2rem);
    transform: scale(0.8);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;

    @include respond(phone) {
      padding: 3rem 0;
    }

    &--item {
      width: 15rem;
      margin: 5rem;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
      @include respond(phone) {
        width: 10rem;
        margin: 2rem;
      }
      img {
        width: 100%;
        transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
      }
      h3 {
        padding: 1rem;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
        @include respond(phone) {
          font-size: 1.5rem;
          letter-spacing: 0;
        }
      }
      &:hover {
        background-color: rgba($color-grey-dark, 0.3);
      }
      &:hover h3 {
        opacity: 1;
      }
      &:hover img {
        filter: none;
        transform: scale(1);
      }
    }
  }
}
