.tags {
  padding: 2rem;
  text-align: center;
  border: 0.5rem solid $color-grey-dark;
  h2 {
    text-transform: uppercase;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__checkbox {
    width: 22%;
    margin: 1rem 0;
    label {
      border: none !important;
    }
  }

  &__selected {
    display: flex;
    margin-bottom: 2rem;
  }

  &__tag {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: $color-black;
    color: $color-grey-dark;
    margin-right: 1rem;
  }

  &__add-tag {
    margin-right: 2rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    background-color: $color-primary;
    color: $color-grey-dark;
  }
}
