.what-i-do {
  padding-top: 3rem;

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
    color: $color-primary;
  }

  &__cards {
    padding: 4rem 0;
    color: $color-text-of-blue;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    margin: 0 2.5%;
    width: 30%;
    height: 50rem;
    cursor: pointer;

    @include respond(tab-port) {
      width: 75%;
      margin: 5rem 2.5%;
      height: auto;
    }

    &--side {
      perspective: 1500px;
      -moz-perspective: 1500px;
      position: relative;
      width: 100%;
      height: 100%;
      @include respond(tab-port) {
        border-radius: 1rem;
        overflow: hidden;
        height: auto;
        width: auto;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary
        );
      }
    }
    &__front,
    &__back {
      transition: all 0.8s;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      background-color: $color-primary;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 0.3rem;
      @include respond(tab-port) {
        height: auto;
        width: auto;
        position: relative;
        border-radius: 0;
        box-shadow: none !important;
        background-color: transparent;
      }
    }
    &__back {
      transform: rotateY(180deg);
      background-color: $color-primary-light;
      @include respond(tab-port) {
        transform: rotateY(0);
        padding: 2rem 0;
        background-color: transparent;
        .what-i-do__title {
          display: none;
        }
      }
    }
    &:hover &__front {
      transform: rotateY(-180deg);
      @include respond(tab-port) {
        transform: rotateY(0);
      }
    }
    &:hover &__back {
      transform: rotateY(0);
    }
  }
  &__button {
    background-color: $color-grey-light;
    padding: 1rem 3rem;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0.5rem 2rem $text-color-black;
    transition: all 0.3s;
    position: relative;
    &:hover {
      background-color: $color-grey; // to make a border-radius without affecting width
      box-shadow: 0 0 3pt 2pt $text-color-blue;
      top: -3px;
    }
    a:link,
    a:visited {
      display: block;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $text-color-blue;
      text-decoration: none;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 300;
    @include respond(tab-port) {
      font-size: 2.5rem;
      margin: 1.5rem 0;
    }
  }
  &__icon {
    font-size: 10rem;
    @include respond(tab-port) {
      font-size: 15rem;
    }
  }
  &__description {
    font-size: 1.6rem;
    letter-spacing: normal;
    text-align: center;
    @include respond(tab-port) {
      font-size: 2rem;
      padding: 2rem 0;
      line-height: 1.7;
      letter-spacing: 0.1rem;
    }
  }
}
